@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css);
.phrits,
.phrits_inverted {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: bold !important;
  text-decoration: none !important;
  border: 0 0 0 0 !important;
  text-transform: lowercase !important;
  color: #000000 !important;
}

.phrits_inverted {
  color: #FFFFFF !important;
}

#board {
  background: url("../images/board.png");
  height: 32px;
}

/* Messing around with neumorphism */
/* nav {
    background-color: #660000;
    background-image: linear-gradient(to right bottom,#890043, #cc0000, #b1002f, #5a0019, #660000, #5c1545, #330000, #480725, #331027, #250817, #321a36, #2d0310, #1d0b19, #24172d, #201322, #150e17, #191323, #19121e, #0f0b19, #120f19, #110e15, #0c0c12, #0e0d12, #0e0820, #090914, #0c0c0e, #0c0526, #060616, #09090e, #07022d, #03030d, #06060e, #030318, #00000d, #000034, #00001a);
}
*/
.bg_frame,
.bg_frame_header {
  background: #000033;
  color: #DDDDDD;
  padding-right: 20px;
  -webkit-box-shadow: 11.71px 11.71px 15px #000024, -11.71px -11.71px 15px #000048;
          box-shadow: 11.71px 11.71px 15px #000024, -11.71px -11.71px 15px #000048;
}

.bg_frame_red {
  background: linear-gradient(145deg, #780000, #540000);
  -webkit-box-shadow: 11.71px 11.71px 15px #3A0000, -11.71px -11.71px 15px #920000;
          box-shadow: 11.71px 11.71px 15px #3A0000, -11.71px -11.71px 15px #920000;
}

.bg_frame_title {
  text-align: center;
  background: transparent;
  color: #DDDDDD;
  border-right: none;
  border-bottom: none;
  padding-left: 1ex;
  padding-right: 1ex;
  -webkit-box-shadow: 6px 6px 0px #000048, -6px -6px 0px #000084;
          box-shadow: 6px 6px 0px #000048, -6px -6px 0px #000084;
}

.bg_frame_header,
.innerband {
  margin-top: 1em;
  margin-bottom: 1ex;
  padding-left: 20px;
  -webkit-box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
          box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
}

.innerband {
  padding-top: 20px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000ff), color-stop(#101010ff), color-stop(#202020ff), color-stop(#303030ff), color-stop(#404040ff), color-stop(#505050ff), color-stop(#606060ff), color-stop(#707070ff), color-stop(#808080ff), color-stop(#909090ff), color-stop(#a0a0a0ff), color-stop(#b0b0b0ff), color-stop(#c0c0c0ff), color-stop(#d0d0d0ff), color-stop(#e0e0e0ff), to(#f0f0f0ff));
  background-image: linear-gradient(to right bottom, #000000ff, #101010ff, #202020ff, #303030ff, #404040ff, #505050ff, #606060ff, #707070ff, #808080ff, #909090ff, #a0a0a0ff, #b0b0b0ff, #c0c0c0ff, #d0d0d0ff, #e0e0e0ff, #f0f0f0ff);
}

.bg_frame_title,
.bg_frame_header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00001a), color-stop(#000034), color-stop(#00000d), color-stop(#030318), color-stop(#06060e), color-stop(#03030d), color-stop(#07022d), color-stop(#09090e), color-stop(#060616), color-stop(#0c0526), color-stop(#0c0c0e), color-stop(#090914), color-stop(#0e0820), color-stop(#0e0d12), color-stop(#0c0c12), color-stop(#110e15), color-stop(#120f19), color-stop(#0f0b19), color-stop(#19121e), color-stop(#191323), color-stop(#150e17), color-stop(#201322), color-stop(#24172d), color-stop(#1d0b19), color-stop(#2d0310), color-stop(#321a36), color-stop(#250817), color-stop(#331027), color-stop(#480725), color-stop(#330000), color-stop(#5c1545), color-stop(#660000), color-stop(#5a0019), color-stop(#b1002f), color-stop(#cc0000), to(#890043));
  background-image: linear-gradient(to right bottom, #00001a, #000034, #00000d, #030318, #06060e, #03030d, #07022d, #09090e, #060616, #0c0526, #0c0c0e, #090914, #0e0820, #0e0d12, #0c0c12, #110e15, #120f19, #0f0b19, #19121e, #191323, #150e17, #201322, #24172d, #1d0b19, #2d0310, #321a36, #250817, #331027, #480725, #330000, #5c1545, #660000, #5a0019, #b1002f, #cc0000, #890043);
}

p,
.bg_frame_p {
  border: 1px solid rgba(221, 221, 221, 0.3);
  padding: 1em;
  -webkit-box-shadow: 11.71px 11.71px 15px #000024, -11.71px -11.71px 15px #000048;
          box-shadow: 11.71px 11.71px 15px #000024, -11.71px -11.71px 15px #000048;
}

p.lead {
  margin: 2em;
  font-size: 125%;
  -webkit-box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
          box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
}

.bg_frame,
.bg_frame_header,
.bg_frame_red,
.bg_frame_title,
.bg_frame_p,
.bg_frame_title,
.bg_frame_header {
  border-radius: 20px;
}

.bg_frame,
.bg_frame_header,
.innerband,
.bg_frame_p,
.bg_frame_title,
.bg_frame_title,
.bg_frame_header {
  margin-right: 20px;
}

.cwysted {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00ff0fff), color-stop(#11ee1eee), color-stop(#22dd2ddd), color-stop(#44bb4bbb), color-stop(#55aa5aaa), color-stop(#66996999), color-stop(#33cc3ccc), color-stop(#99669666), color-stop(#aa55a555), color-stop(#dd22d222), color-stop(#77887888), color-stop(#88778777), color-stop(#ee11e111), color-stop(#ff00f000), color-stop(#bb44b444), to(#cc33c333));
  background-image: linear-gradient(to right bottom, #00ff0fff, #11ee1eee, #22dd2ddd, #44bb4bbb, #55aa5aaa, #66996999, #33cc3ccc, #99669666, #aa55a555, #dd22d222, #77887888, #88778777, #ee11e111, #ff00f000, #bb44b444, #cc33c333);
}

/* box-shadow: 14.41px 14.41px 19px #4D2727, -14.41px -14.41px 19px #7F3F3F; */
/*
background-image: linear-gradient(to right bottom, #00001a, #09081b, #10101c, #15151d, #1a1a1e, #23202c, #302439, #402744, #682150, #92064a, #b60033, #cc0000);
background-image: linear-gradient(to right bottom, #402744, #38273f, #302638, #2a2532, #25232a, #27222c, #29212e, #2c1f2f, #3d1a32, #4f102b, #5e021d, #660000);
*/
/*# sourceMappingURL=phrits.css.map */