.phrits,
.phrits-invert {
    font-family:            "Courier New", Courier, "Courier Prime", monotype !important;
    font-size:              105%;
    font-weight:            bold;
    text-decoration:        none !important;
    border:                 0 0 0 0 !important;
    text-transform:			lowercase !important;
}
.phrits {
    color:                  #000000 !important;
}
.phrits-invert {
    color:                  #FFFFFF !important;
}
#board {
    background-image: 		url("/images/tiled-board.jpg");
    background-repeat:		repeat-x;
    height:		 			100px;
}
span.dietary {
    font-variant:           small-caps !important;
    font-weight:            bold !important;
    color:                  #FFFFFF;
}
p.wrapper {
    padding: 1em;
}

ul.recipe {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    padding: 1em;
}

ul.recipe li {
    margin: 1ex;
    list-style: none;
}
div.recipe {
    margin:        2em 1em 0 1em;
    padding:       1ex 1em 1em 1em;
}

ul.welcome {
    list-style: none;
}

    ul.welcome > li {
        margin:         3em 0 3em 3em;
    }
        ul.welcome > li > h3 {
            text-align:     left;
        }
        ul.welcome > li > p {
            text-align:     left;
        }

        ul.welcome > li:first-child {
            margin-top: -1em;
        }

#footer p {
    margin: 1em 2em 1em 1em;
}

