.phrits,
.phrits-invert {
    font-family:            "Courier New", Courier, "Courier Prime", monotype !important;
    font-size:              105%;
    font-weight:            bold;
    text-decoration:        none !important;
    border:                 0 0 0 0 !important;
    text-transform:			lowercase !important;
}
.phrits {
    color:                  #000000 !important;
}
.phrits-invert {
    color:                  #FFFFFF !important;
}
#board {
    background-image: 		url("/images/tiled-board.jpg");
    background-repeat:		repeat-x;
    height:		 			100px;
}
span.dietary {
    font-variant:           small-caps !important;
    font-weight:            bold !important;
    color:                  #FFFFFF;
}
p.wrapper {
    padding: 1em;
}

.recipe.ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
}


div.recipe {
    margin:        1em;
    padding:       1em;
}

li.welcome,
ul.welcome {
    list-style: none !important;
}

    ul.welcome > li {
        margin:         3em 0 3em 3em;
    }
        ul.welcome > li > h3 {
            text-align:     left;
        }
        ul.welcome > li > p {
            text-align:     left;
        }

        ul.welcome > li:first-child {
            margin-top: -1em;
        }

#footer p {
    margin: 2em 2em 1em 1em;
}

.ingredient {
    list-style-type: none;
    text-indent: -1.5em;
  }
  
li.ingredient::before {
    display: inline-block;
    width: 2em;
  }

.emph {
    color: #ffffff;
    font-weight: bold;
}

hr.recipe {
    margin: 0;
}