.phrits,
.phrits-invert {
    font-family:            "Courier New", Courier, "Courier Prime", monotype !important;
    font-size:              105%;
    font-weight:            bold;
    text-decoration:        none !important;
    border:                 0 0 0 0 !important;
    text-transform:			lowercase !important;
}
.phrits {
    color:                  #000000 !important;
}
.phrits-invert {
    color:                  #FFFFFF !important;
}
#board {
    background-image: 		url("/images/tiled-board.jpg");
    background-repeat:		repeat-x;
    height:		 			100px;
}
span.dietary {
    font-variant:           small-caps !important;
    font-weight:            bold !important;
    color:                  #FFFFFF;
}
p.wrapper {
    padding: 1em;
}

.recipe.ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
}


div.recipe {
    margin:        1em;
    padding:       1em;
}

li.welcome,
ul.welcome {
    list-style: none !important;
}

    ul.welcome > li {
        margin:         3em 0 3em 3em;
    }
        ul.welcome > li > h3 {
            text-align:     left;
        }
        ul.welcome > li > p {
            text-align:     left;
        }

        ul.welcome > li:first-child {
            margin-top: -1em;
        }

#footer p {
    margin: 2em 2em 1em 1em;
}

.ingredient {
    list-style-type: none;
    text-indent: -1.5em;
  }
  
li.ingredient::before {
    display: inline-block;
    width: 2em;
  }

.emph {
    color: #ffffff;
    font-weight: bold;
}

hr.recipe {
    margin: 0;
}

img.credits,
img.writing {
    max-height: 128px;
    max-width: 128px;
}


.features section .writing,
.features section .credits {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

h1.credits, h1.writing,
h2.credits, h2.writing,
h3.credits, h3.writing,
h4.credits, h4.writing,
h5.credits, h5.writing,
h6.credits, h6.writing,
            p.writing {
    margin-left: 3%;
}

aside.r {
    float:                  right;
    margin-left:            1ex;
    border: 2ex #FFFFFF !important;
}
