.phrits {
    font-family:            "Courier New", Courier, monospace !important;
    font-weight:            bold !important;
    color:                  #000000 !important;
    text-decoration:        none !important;
    border:                 0 0 0 0 !important;
    text-transform:         lowercase !important;
}

#board          {
    height:                 32px;
    width:                  100%;
    margin-top:             -32px;  /* negative margin-top equals height of #board */
    background:             url("/images/board.png");
    /* board image: http://farm4.static.flickr.com/3254/2779025080_c38653e1a5.jpg */
}


/* Messing around with neumorphism */

.bg_frame {
    background: #663333;
    border-radius: 30%;
    box-shadow: 14.41px 14.41px 19px #4D2727, -14.41px -14.41px 19px #7F3F3F;
}

.bg_frame_blue {
/*    background: #0000AA; */
background: linear-gradient(145deg, #000091, #0000C4);
border-radius: 15%;
box-shadow: 14.41px 14.41px 19px #000080, -14.41px -14.41px 19px #0000D4;
}

box-shadow: 14.41px 14.41px 19px #4D2727, -14.41px -14.41px 19px #7F3F3F;