.phrits,
.phrits_light {
    font-family:            "Courier New", Courier, monospace !important;
    font-weight:            bold !important;
    color:                  #000000 !important;
    text-decoration:        none !important;
    border:                 0 0 0 0 !important;
    text-transform:         lowercase !important;
}

.phrits_light {
    color:                  #FFFFFF !important;
}

#board          {
    background:             url("../images/board.png");
    height: 32px;
}


/* Messing around with neumorphism */

.bg_frame,
.bg_frame_header {
    background: #000033;
    color: #DDDDDD;
    border-radius: 20px;
    box-shadow: 14.41px 14.41px 19px #4D2727, -14.41px -14.41px 19px #7F3F3F;
    box-shadow: 14.41px 14.41px 19px #000080, -14.41px -14.41px 19px #0000D4;
    box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
    box-shadow: 11.71px 11.71px 15px #000024, -11.71px -11.71px 15px #000048;
}

.bg_frame_header {
    padding-left: 20px;
    margin-top: 1em;
    box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
    margin-bottom: 1ex;
}

.bg_frame_title {
    text-align: center;
    background: transparent;
    color: #DDDDDD;
    border-right: none;
    border-bottom: none;
    border-radius: 20px;
    box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
    box-shadow: 6px 6px 0px #000048, -6px -6px 0px #000084;
    box-shadow: 6px 6px 0px #000036, -6px -6px 0px #000072;
    padding-left: 1ex;
    padding-right: 1ex;
}

p,
.bg_frame_p {
    border-radius: 20px;
    box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
    box-shadow: 6px 6px 0px #000048, -6px -6px 0px #000084;
    box-shadow: 6px 6px 0px #000036, -6px -6px 0px #000072;
    box-shadow: 11.71px 11.71px 15px #000024, -11.71px -11.71px 15px #000048;
    padding: 1em;
}

p.lead {
    margin: 2.5em;
    box-shadow: 11.71px 11.71px 15px #000048, -11.71px -11.71px 15px #000084;
}

/* box-shadow: 14.41px 14.41px 19px #4D2727, -14.41px -14.41px 19px #7F3F3F; */